*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
}
.wrap {
	width: 1000px;
	margin: 0 auto;
}

.left-content {
	width: 300px;
	height: 1080px;
	background-color: rgb(231, 231, 231);
	float: left;
}

.right-content {
	padding:70px 50px 50px 50px;
	width: 600px;
	height: 1080px;
	background-color: rgb(245, 245, 245);
	float: left;
}

.photo {
	width: 200px;
	height: 200px;
	margin: 100px 50px 50px 50px;
	border: 1px solid #000;
}

.name-part{
	text-align: center;
	background-color: rgb(70,90,128);
	color: #FFF;
}

.name{
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 32px;
	font-weight: bold;
}

.job{
	padding-bottom: 10px;
	font-size: 20px;
}

.left-content>ol{
	margin-top: 50px;
	margin-left: 50px;
	list-style: none;
}

.left-content>ol li{
	margin-top: 20px;
}

.left-content>hr{
	margin-top: 50px;
	margin-left: 20%;
	width: 60%;
	height: 3px;
	border-color: #000;
	background-color: #000;
}

.options-header{
	width: 120px;
	margin-top: 50px;
	margin-left: 100px;
	text-align: center;
	border: 2px solid rgb(70,90,128);
}

.options-text{
	margin-top: 30px;
	margin-left: 64px;
	list-style: square;
}

.options-text li{
	margin-top: 10px;
}

.right-content>div>:first-child{
	margin-top: 30px;
	font-size: 24px;
	font-weight: bold;
	color: rgb(70,90,128);
}

ul.section-lists-text{
	margin-left: 20px;
}

p.section-list-header{
	margin-top: 20px;
	color: rgb(70,90,128);
}

span.section-lists-name{
	color:#000;
}

span.section-lists-suffix{
	color: green;
}

ul.section-lists-text li{
	padding-top: 10px;
}

ul.section-lists-text>li span{
	font-weight: bold;
	color: rgb(70,90,128);
}

p.section-text{
	margin-top: 20px;
}